body {
    background-color: honeydew;
}
 
#grid {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    align: center;

}
p {
    color: blue;
    text-decoration: solid;
    font-size: 24px;
    text-align: center;
    
}
.score {
    float: center;
    display: inline;
    margin: 0 auto
}
.score > div{

    text-align: left;
    font-size: 16px;
    margin: 20px 20px ; 
    max-height:auto;
    display: inline-block;
    background-color: #c7ee96;

}

.inputset {
    font-weight: bolder;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 2px rgb(115, 119, 119);
    border: 0.5px solid rgb(255, 153, 0);
    padding: 10px;
    width: 15%;
    background-color: #c7ee96;

}

.inputset > input {
    background-color: #c7ee96;

}
#dummycontent {
    max-width: 80%;
    margin: 0, auto;
}

#dummycontent > p {
    float: center;
    font-size: 16px;
    text-align: justify;
    color: brown;

}
#dummycontent > div {
    float: center;
    font-size: 16px;
    padding: 20px;
}

#test_div {
    float: center;
    display: inline;
}

.testcharcontent {
    display: inline;
}
#test_div > textarea{
    border: 0.5px solid blue;
    text-align: left;
    font-size: 20px;
    box-shadow: 0px 0px 2px 2px rgb(115, 119, 119);
    display: inline-block;
    height: 250;
    padding: 20px;
    max-width: 80%;


}

#test_div > button:hover{
    background-color: aqua;
    transition: 0.5s ease-in-out;
}


.items_div {
    color: #2e07da;
    text-align: left;
    font-size: 24px;
    margin-top: 10px;
    width: 350px;
    display: inline-block;
    padding: 20px;

}

#reset {

display: none;
    float: center;

}

#timer {
    float: center;
    align-items: center;
    width: 80%;
}
#timer > input{
    border: 1px solid rgb(243, 60, 4);
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    box-shadow: 2px rgb(8, 194, 147);
    max-width: 20%;
    height:80px;
    background-color: #faea08;

}
